#  Scikit Learn(Sk learn)
This notebook demonstrates some of the most useful functions of the Scikit-Learn library

Scope:

0. An end to end Scikit-learn Workflow
1. Getting the data ready
2. Choose the right estimator/algorithm for the problem
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluating a model
5. Improving the model
6. Save and load a trained model
7. Putting it all together

In [95]:
#Standard Imports

%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 0. An end to end Scikit-learn Workflow

In [96]:
# 1. Get the data ready
import pandas as pd
heart_disease =pd.read_csv("data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [97]:
#create X(feature metrics)
x = heart_disease.drop("target", axis=1)
# Create Y (labels)
y = heart_disease["target"]

In [98]:
# 2. Choose the right estimator/algorithm for the problem
from sklearn.ensemble import RandomForestClassifier
clf =RandomForestClassifier()

#Keep the default hyperparameters
clf.get_params();

In [99]:
# 3. Fit the model/algorithm and use it to make predictions on our data
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test =train_test_split(x,y, test_size=0.2)

In [100]:
clf.fit(x_train, y_train);

In [101]:
# make prediction on test data

y_preds =clf.predict(x_test)

In [102]:
y_test

247    0
39     1
57     1
254    0
37     1
      ..
99     1
27     1
290    0
154    1
78     1
Name: target, Length: 61, dtype: int64

In [103]:
#4. Evaluating a model on the training and test data
clf.score(x_train, y_train)

1.0

In [104]:
clf.score(x_test, y_test)

0.8360655737704918

In [105]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.88      0.76      0.81        29
           1       0.81      0.91      0.85        32

    accuracy                           0.84        61
   macro avg       0.84      0.83      0.83        61
weighted avg       0.84      0.84      0.83        61

In [106]:
confusion_matrix(y_test, y_preds)

array([[22,  7],
       [ 3, 29]])

In [107]:
accuracy_score(y_test, y_preds)

0.8360655737704918

In [108]:
# 5. Improving the model
#Try diff amount of n_estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimator...")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"Model accuracy on test set: {clf.score(x_test, y_test)*100:.2f}%")
    print("")

Trying model with 10 estimator...
Model accuracy on test set: 75.41%

Trying model with 20 estimator...
Model accuracy on test set: 78.69%

Trying model with 30 estimator...
Model accuracy on test set: 78.69%

Trying model with 40 estimator...
Model accuracy on test set: 80.33%

Trying model with 50 estimator...
Model accuracy on test set: 86.89%

Trying model with 60 estimator...
Model accuracy on test set: 81.97%

Trying model with 70 estimator...
Model accuracy on test set: 83.61%

Trying model with 80 estimator...
Model accuracy on test set: 85.25%

Trying model with 90 estimator...
Model accuracy on test set: 83.61%

In [109]:
# 6. Save and load a trained model
import pickle

pickle.dump(clf, open("random_forest.model_1.pkl", "wb"))

In [110]:
#upload saved model
loaded_model = pickle.load(open("random_forest.model_1.pkl", "rb"))
loaded_model.score(x_test, y_test)

0.8360655737704918

# Getting the data ready
1. Split the data into features and labels (usually 'X' and 'Y')
2. Filling (imputing) or disregarding missing vdalues
3. Converting non-numerical values to numerical values(also called feature encoding)

In [111]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [112]:
x = heart_disease.drop("target", axis=1)
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [113]:
y = heart_disease["target"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [114]:
#Split the data into train and test data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test =train_test_split(x,y, test_size=0.2)

In [115]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [116]:

len(heart_disease)

303

In [117]:
#Make sure data is all numerical
car_sales =pd.read_csv("data/sklearn-data/car-sales-extended.csv")
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [118]:
len(car_sales)

1000

In [119]:
#Split data into X/Y
x = car_sales.drop("Price", axis=1)
y = car_sales["Price"]

#Split data into training and test
x_train, x_test, y_train, y_test =train_test_split(x,y, test_size=0.2)

In [120]:
#Build a ML model
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor
model.fit(x_train, y_train)
model.score(x_test, y_test)

TypeError: BaseForest.fit() missing 1 required positional argument: 'y'

In [121]:
#Get an error above bc ML model doesn't understand strings
#Covert the string colns to floats

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features =["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                   one_hot,
                                   categorical_features)],
                                   remainder="passthrough")
transformed_x = transformer.fit_transform(x)
transformed_x

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [122]:
pd.DataFrame(transformed_x)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [123]:
#Using pandas function to turn the same strings into numerical values
dumies = pd.get_dummies (car_sales[["Make", "Colour", "Doors"]])
dumies.head()

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0

In [138]:


# Assuming 'transformed_x' is your feature matrix and 'y' is your target values

# Split the data into training and testing sets

x_train, x_test, y_train, y_test = train_test_split(transformed_x, y, test_size=0.2, random_state=42)

# Fit the model to the training data
model.fit(x_train, y_train)

LinearRegression()

In [131]:
# Evaluate the model's performance on the test data
model.score(x_test, y_test)

0.4231640732013404